In [1]:
# 関連ライブラリのimport
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.metrics import mean_squared_error
import lightgbm as lgb
#fold数
folds = 5

import pickle
import os
import gc
gc.enable()
import warnings
warnings.filterwarnings("ignore")
import time

import pandas as pd

from tqdm import tqdm_notebook as tqdm
from collections import defaultdict
import re
import matplotlib.pyplot as plt
import numpy as np

import matplotlib
import japanize_matplotlib
import seaborn as sns

import mojimoji
import itertools

In [63]:
train = pd.read_csv("data/train_processed_add_geocoding_meshcode_crime_landprice_ladmark_log_groupby.csv")

In [3]:
cv_pred_df = pd.read_csv("./cv_log/cv_error_1.csv")
cv_pred_df4 = pd.read_csv("./cv_log/cv_error_4.csv")

In [4]:
pd.options.display.float_format = '{:.3f}'.format
cv_pred_df.sort_values("error", ascending=False).head(10)

         cv_score        true       error
5640   129861.328 1203500.000 1073638.672
4974  1466111.749 2500000.000 1033888.251
30797  644443.034 1450000.000  805556.966
20165 1225728.701 1800000.000  574271.299
8498   825975.345 1390000.000  564024.655
15063  738203.743 1300000.000  561796.257
11106  574242.028 1100000.000  525757.972
29848 1227245.378 1660000.000  432754.622
3480   522075.582  134000.000  388075.582
16139  551305.557  880000.000  328694.443

In [5]:
pd.options.display.float_format = '{:.3f}'.format
cv_pred_df4.sort_values("error", ascending=False).head(10)

         cv_score        true       error
23454 1101668.387 2500000.000 1398331.613
30500  588026.361 1450000.000  861973.639
23539  985782.269 1800000.000  814217.731
28314  736039.708 1390000.000  653960.292
15817  730824.770  308000.000  422824.770
12386  992343.646  600000.000  392343.646
23511  925923.900 1300000.000  374076.100
23607  935488.626 1300000.000  364511.374
9558  1322332.285 1660000.000  337667.715
25833  883896.900  550000.000  333896.900

In [194]:
cv_pred_df["補正"] = cv_pred_df["cv_score"].where(cv_pred_df["cv_score"]<500000, cv_pred_df["cv_score"] * 1.2)
cv_pred_df["補正"] = cv_pred_df["cv_score"].where(cv_pred_df["cv_score"]<500000, cv_pred_df["cv_score"] * 1.03)

In [195]:
np.sqrt(mean_squared_error(cv_pred_df["cv_score"],cv_pred_df["true"]))

17881.662027630766

In [196]:
np.sqrt(mean_squared_error(cv_pred_df["補正"],cv_pred_df["true"]))

17700.0057183321